
/*
Theme Name: Optome
Theme URI: http://
Version: 1.0.0
*/


/* Table of Contents
==================================================
#  Base styles RESET
#  Dancing in the rainbow
#  topHeader
#  Header
#  Slider
#  Banner
#  Content
*/

/* ==========================================================================
   Base styles RESET: opinionated defaults
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	font-style: italic;
}
blockquote p: before {
	color: rgb(240, 240, 240);
	color: rgba(244, 244, 244, 0.65);
	font-family: "FontAwesome", serif;
	position: absolute;
	line-height: 60px;
	font-size: 100px;
	z-index: -1;
	left: -80px;
	top: 0px;
	content: '\f10d';
}
blockquote p {
	font-size: 24px !important;
}
blockquote: before, blockquote: after, q: before, q: after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==========================================================================
   Font Family : Dancing in the rainbow;
   ========================================================================== */
@font-face {
    font-family: 'dancing_in_the_rainbowregular';
    src: url('../fonts/dancing_in_the_rainbow-webfont.woff2') format('woff2'),
         url('../fonts/dancing_in_the_rainbow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
         url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
         url('../fonts/AvenirNextLTPro-Bold') format('truetype'),
         url('../fonts/AvenirNextLTPro-Bold.svg#oswald_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akrobatblack';
    src: url('../fonts/akrobat-black-webfont.woff2') format('woff2'),
         url('../fonts/akrobat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'akrobatbold';
    src: url('../fonts/akrobat-bold-webfont.woff2') format('woff2'),
         url('../fonts/akrobat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akrobatextrabold';
    src: url('../fonts/akrobat-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/akrobat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akrobatextralight';
    src: url('../fonts/akrobat-extralight-webfont.woff2') format('woff2'),
         url('../fonts/akrobat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akrobatlight';
    src: url('../fonts/akrobat-light-webfont.woff2') format('woff2'),
         url('../fonts/akrobat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akrobatregular';
    src: url('akrobat-regular-webfont.woff2') format('woff2'),
         url('akrobat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akrobatsemibold';
    src: url('akrobat-semibold-webfont.woff2') format('woff2'),
         url('akrobat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'akrobatthin';
    src: url('akrobat-thin-webfont.woff2') format('woff2'),
         url('akrobat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* ==========================================================================
   topHeader
   ========================================================================== */
#topHeader{
	background-color:#0b0b0b;
	padding: 15px 0px; 
	color: #ffffff;
}

#topHeader .list-inline li  a{
	color: #ffffff;
}

#topHeader .list-inline li  a i.fa.fa-map-marker {
    margin-right: 10px;
}

#topHeader .list-inline li + li{
	border-left: 1px solid #454545;
	margin-left: 5px;
}

#topHeader .list-inline>li.dropdown > .dropdown-menu>li>a{
	color: #333;
}
/* ==========================================================================
   Header
   ========================================================================== */
header {
	background: #ffffff;
}
header .navbar{
	margin-bottom: 0px;
}
header .navbar-default{
	background: none;
	border:none;
	box-shadow: none;

}
header .navbar-default:before {
    position: absolute;
    left: -30px;
    top: 29px;
    width: 35px;
    height: 79px;
    content: "";
    background: #ffffff;
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    z-index: 9;
}

header .navbar-default:after {
    position: absolute;
    right: -30px;
    top: 29px;
    width: 35px;
    height: 79px;
    content: "";
    background: #ffffff;
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    z-index: 9;
}

header .navbar-default .navbar-nav>li>a span{
	display: block;
	margin: 0px auto;
	width: 100%;
	text-align: center;
}

.header-bg{
    position: absolute;
    width: 100%;
    z-index: 99;
    height: 30px;
    display: block;
    background: #fff;
}
/* ==========================================================================
   Slider
   ========================================================================== */
#mainSlider {
	width: 100%;
}

#mainSlider .carousel-inner>.item>a>img, #mainSlider .carousel-inner>.item>img{
	max-width: 100%;
	width: 100%;
}


#mainSlider .carousel-caption {
    right: 0px;
    left: -252px;
    max-width: 1170px;
    top: 35%;
    bottom: 0px;
    width: 100%;
}


/* ==========================================================================
    Banner
   ========================================================================== */
#banner {
	background: url(../img/banner1.jpg) no-repeat center top;
	background-size: cover;
	width: 100%;
	padding: 60px 0 100px 0;
height: 436px;
}

/* ==========================================================================
  Content
   ========================================================================== */
#content{
	padding-top:38px; 
}
.bg-gray{
	background: #d4e2eb;
}

#content .servicelist{
margin-bottom: 64px;
}

#content .whatWeOffer{
width: 1000px;
margin: 0px auto;
}

#content .whatWeOffer #heading{
	text-align: center;
}

#content .whatWeOffer #heading h6{
	font-size: 40px;
	font-family: 'dancing_in_the_rainbowregular';
	color: #09b0ef;
	text-align: left;
	margin-left: 4.5em;
}

#content .whatWeOffer #heading h2{
	font-size: 78px;
	 font-family: 'AvenirNextLTPro-Bold';
	 color: #ffffff;
	 text-transform: uppercase;
	 font-weight: bold;
	 text-shadow: 2px 4px 8px #b7c5cf;
}
#content .whatWeOffer .listingOffer{
	padding-top: 55px;
    background: url(../img/bg-how-it-works.png) no-repeat 174px 40px;
    height: 451px;

}
#content .whatWeOffer .listingOffer .list-group-item {
    padding: 12px 15px;
    border: 1px solid #fff;
    border-radius: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #09b0ef;
    font-size: 30px;
    text-transform: uppercase;
}
#content .whatWeOffer .listingOffer .list-group-item:first-child span{
	background: #8dc53e;
}
#content .whatWeOffer .listingOffer .list-group-item span{
	border-radius: 50%;
    background: #09b0ef;
    width: 66px;
    height: 66px;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    padding-top: 18px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: -1px;
}
#content .whatWeOffer .listingOffer .list-group-item:last-child span{
background: #8dc53e;
}


#orderNow{
	background: #373b3d;
	padding: 5px 0px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	 font-family: 'akrobatextrabold';
	 text-transform:uppercase;
	
	 	border-bottom: 1px solid #12508a;
}
#orderNow  p{
	 border: 2px solid transparent;
}
#orderNow a {
	font-size: 12px;
	border: 2px solid #ffffff;
	color: #ffffff;
	padding: 3px;

}

/* mobile-phone */
#mobile-phone{
    background: #8dc53e;
    padding-top: 22px;
    padding-bottom: 66px;
    color:#ffffff;
}
#mobile-phone img {
    margin: 0px auto;
    margin-bottom: 25px;
}
#mobile-phone h2{
    color: #014d73;
    margin-bottom: 22px;
    font-size: 65px;
    line-height: 50px;
     font-family: 'Open Sans', sans-serif;
     font-weight: bolder;
}


#optome-business {
    overflow: hidden;

    background-size: cover;
    background-position: center top;

    background: #8dc53e;
    color: #fff;

    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
    color: #ffffff;
    background-color: #8dc53e;
    background-image: url('../img/bg-clouds.png');
    background-position: 0px 0px;
    background-repeat: repeat-x;
 animation: animatedBackground 40s linear infinite;

}

@keyframes animatedBackground {
     to { background-position: 0 0; }
    from { background-position: 100% 0; }
   
}
#optome-business h2{
    text-shadow: 2px 4px 8px #151515;
    font-weight: 300; 
    font-size: 47px ;
     font-family: 'Open Sans', sans-serif;
}

#optome-business h2 strong{
    font-weight: 700; 
}

#optome-business .btn-default{
    margin-top: 12px;
    font-weight: bold;
    color: #414043;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: #ffffff;
    box-shadow: none;

}


footer{
    background: #242424;
   padding: 75px 0;
}

footer h3{
     color: #f80;
    margin-bottom: 15px;
    font-size: 20px;
}


footer a {
    color: #b2b2b2;
    text-decoration: none;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    -webkit-transition-property: color,background-color;
    transition-property: color,background-color;
}


footer .contact-info li {
    margin-bottom: 10px;
}

footer .contact-info li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
    color: #ffffff;
}


footer .contact-info .fa-map-marker {
    font-size: 20px;
}

footer .contact-info .fa {
    font-size: 18px;
    margin-right: 10px;
    width: 18px;
    text-align: center;
    position: absolute;
    left: 0;
}

footer .contact-info a {
    color: #fff;
}

.social-links--footer {
    margin-top: 30px;
}


.social-links a {
    display: inline-block;
    color: #fff;
    background-color: #9c9d9f;
    padding: 4px;
    font-size: 18px;
    border-radius: 50%;
    -webkit-transition: background-color .5s ease 0s;
    transition: background-color .5s ease 0s;
}

.social-links a .fa {
    width: 26px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}



.social-links a.social-links__facebook:hover {
    background-color: #3b5998;
}

footer a:hover, footer a:focus {
    color: #fff;
}
.social-links a.social-links__linkedin:hover {
    background-color: #0077b5;
}

.copyright {
    background: #8dc53e;
    height: 50px;
    width: 100%;
    border-bottom: 12px solid #131313;
}



/*================================
----------Pricing Section---------
================================*/

#Pricing {
    background:url(../img/pricing-bkp.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
#Pricing .pricebox{
    padding:30px;
    text-align: center;
    border-right:1px solid #8d98a1;
}
#Pricing .pricebox:last-child{
    border-right:0;
}
#Pricing .pricebox p, .description{
    color:#dff2ff;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
}
#Pricing .pricebox h2{
    color:#dff2ff;
    font-size:26px;
    font-family: 'Open Sans', sans-serif;
    padding:20px;
    position: relative;
}
#Pricing .pricebox h2 span{
    color: #dff2ff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 15px;
    left: 75px;
    right: 0;
    margin: 0 auto;
}
.pricebox a{
    color:#dff2ff;   
    font-size:12px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}
hr{
    background:none;
    border-bottom:1px solid #adadad;
    width:40px;
    margin:0 auto;
}
img.dealicon {
    float: right;
    margin-top: -25px;
}
#Pricing .pricebox p{
    color: #dff2ff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin:10px 0;
    font-weight: 700;
}
.description{
    margin: 10px auto;
    padding: 4px 63px;
}
#Pricing .pricebox ul li img{
    margin:10px 0;
}
a.link{
    color:#dff2ff;
    font-size:12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-bottom:2px solid #dff2ff;
}


/*================================
--------Start Work Section--------
================================*/
#work {
    background:url(../img/work.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom:30px;
}
#work h2{
    color:#09b0ef;
    font-family: 'AvenirNextLTPro-Bold',sans-serif;
    font-size:48px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    margin-top:40px;
}
.h3heighlight{
    color:#8dc53e;
    font-family: 'AvenirNextLTPro-Bold',sans-serif;
    font-size:84px;
    font-weight:400;
    text-transform: uppercase;
    font-weight: bolder;
}
.h3light{
    color:#5a5b59;
    font-family: 'AvenirNextLTPro-Bold',sans-serif;
    font-size:50px;
    text-transform: uppercase;
    font-weight: 300;
}
.h3bold{
    color:#5a5b59;
    font-family: 'AvenirNextLTPro-Bold',sans-serif;
    font-size:50px;
    text-transform: uppercase;
    font-weight: 700;
}

.Section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #637275;
}
.Section .row {
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
}
.Section-title {
    color: #8d9ba9;
    font-family: 'brandon-grotesque', 'Brandon Grotesque', Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 2.6rem;
    line-height: 1;
    text-transform: uppercase;
}
.Section-title-small {
    display: block;
    font-family: Georgia, 'serif';
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
    text-transform: none;
    margin-bottom: 0;
}
.Section-title-big {
    color: #f53228;
    font-size: 3em;
    display: block;
}
.Section-description {
    padding-left: 100px;
}
.Section-description::before {
    content: '';
    float: left;
    background: #f53228;
    width: 83px;
    margin-left: -100px;
    margin-top: 8px;
    height: 6px;
}
.Carousel {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    margin-bottom: 210px;
}

.Carousel-item {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.Carousel-item-title {
    color: #f53228;
    position: absolute;
    top: 0;
    font-family: 'brandon-grotesque', 'Brandon Grotesque', Montserrat, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

.Carousel-item-image {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
#carousel-example-generic{
    margin-top:40px;
}
 #carousel-example-generic .carousel-control.left,#carousel-example-generic .carousel-control.right{
    background: none !important
}

.glyphicon-chevron-left:before{
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    top: -30px;
    text-align: center;
    background: #f53228;
    border-radius: 100%;
    color: #fff;
}
.glyphicon-chevron-right:before{
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    top: -30px;
    text-align: center;
    background: #f53228;
    border-radius: 100%;
    color: #fff;
}

 #carousel-example-generic .carousel-inner .item{
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    max-width: 1170px;
    height: 300px;
    overflow: hidden;
    margin: 0px auto;
}

#carousel-example-generic .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    text-align: center;
    margin: 0 auto;
}

#carousel-example-generic span.glyphicon.glyphicon-chevron-right {
    right: -65px;
}

#carousel-example-generic span.glyphicon.glyphicon-chevron-left {
    left: -65px;
}


.SlantedBg {
    background: #00adee;
    position: absolute;
   bottom: -25px;
    left: 0;
    transform: skew(0, -2deg);
    height: 300px;
    width: 100%;
    z-index: -1;
}